{% extends 'base.html.twig' %}

{% block title %}Review index{% endblock %}

{% block body %}

    <h1>Review index</h1>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Author</th>
                <th>Date</th>
                <th>Summary</th>
                <th>Retailers</th>
                <th>Price</th>
                <th>Score</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for review in reviews %}
            {% if is_granted('ROLE_USER') %}
                <tr>
                    <td>{{ review.id }}</td>
                    <td>{{ review.author }}</td>
                    <td>{{ review.date }}</td>
                    <td>{{ review.summary }}</td>
                    <td>{{ review.retailers }}</td>
                    <td>{{ review.price }}</td>
                    <td>{{ review.score }}</td>
                    <td>
                        <a href="{{ path('review_show', {'id': review.id}) }}">show</a>
                        {% if review.author == app.user.username %}
                            <a href="{{ path('review_edit', {'id': review.id}) }}">edit</a>
                        {% endif %}
                    </td>
                </tr>
            {% endif %}

            {% if not is_granted('ROLE_USER') and review.isPublic == true %}
                <tr>
                <td>{{ review.id }}</td>
                <td>{{ review.author }}</td>
                <td>{{ review.date }}</td>
                <td>{{ review.summary }}</td>
                <td>{{ review.retailers }}</td>
                <td>{{ review.price }}</td>
                <td>{{ review.score }}</td>
                <td>
                    <a href="{{ path('review_show', {'id': review.id}) }}">show</a>
                </td>
                </tr>
            {% endif %}

        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_USER') %}
        <a href="{{ path('review_new') }}">Create new</a>
    {% endif %}

{% endblock %}