{% extends 'base.html.twig' %}

{% block title %}Review{% endblock %}

{% block body %}

    <h1>Review</h1>

    <table>
        <tr>
            <th>Id</th>
            <td>{{ review.id }}</td>
        </tr>
        <tr>
            <th>Author</th>
            <td>{{ review.author }}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{ review.date }}</td>
        </tr>
        <tr>
            <th>Summary</th>
            <td>{{ review.summary }}</td>
        </tr>
        <tr>
            <th>Retailers</th>
            <td>{{ review.retailers }}</td>
        </tr>
        <tr>
            <th>Price</th>
            <td>{{ review.price }}</td>
        </tr>
        <tr>
            <th>Score</th>
            <td>{{ review.score }}</td>
        </tr>

    </table>

    <a href="{{ path('review_index') }}">back to list</a>

        {% if review.author == app.user.username %}
            <a href="{{ path('review_edit', {'id': review.id}) }}">edit</a>
        {% endif %}

    {% include 'review/_delete_form.html.twig' with {'identifier': review.id} only %}

{% endblock %}