{% extends 'base.html.twig' %}

{% block title %}Seafood index{% endblock %}

{% block body %}

    <h1>Seafood index</h1>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Price</th>
                <th>Summary</th>
                <th>Photo</th>
                <th>Ingredients</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            {% if is_granted('ROLE_USER') %}

                <tr>
                 <td>{{ product.id }}</td>
                 <td>{{ product.title }}</td>
                 <td>{{ product.description }}</td>
                 <td>{{ product.price }}</td>
                 <td>{{ product.summary }}</td>
                 <td>{{ product.photo }}</td>
                 <td>{{ product.ingredients }}</td>
                 <td>
                    <a href="{{ path('product_show', {'id': product.id}) }}">show</a>
                    {% if is_granted('ROLE_ADMIN')%}
                    <a href="{{ path('product_edit', {'id': product.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
                {% endif %}

            {% if not is_granted('ROLE_USER') and product.isPublic == true %}
                <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.title }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.summary }}</td>
                <td>{{ product.photo }}</td>
                <td>{{ product.ingredients }}</td>
                <td><a href="{{ path('product_show', {'id': product.id}) }}">show</a></td>
                </tr>
            {% endif %}

        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
        <li>
            <a href="{{ path('product_new') }}">Create new Seafood</a>
        </li>
    {% endif %}



{% endblock %}