{% extends 'base.html.twig' %}

{% block body %}

    <h1> Product List Show page</h1>
    <ul>

    {% for product in products %}
    <li>
        id={{ product.id }}
        <br>
        description= {{ product.description }}
        <br>
        price= &euro; {{ product.price }}
        <br>
        <a href="{{ url('product_show', {id:product.id}) }}">(details)</a>
    </li>
        {% endfor %}
    </ul>

    <a href="{{ path('product_new_form')}}"> create NEW product </a>
{% endblock %}