{% extends 'base.html.twig' %}

{% block title %}Seafood{% endblock %}

{% block body %}

    <h1>Seafood</h1>

    <table>
        <tr>
            <th>Seafood Id</th>
            <td>{{ product.id }}</td>
        </tr>
        <tr>
            <th>Seafood Title</th>
            <td>{{ product.title }}</td>
        </tr>
        <tr>
            <th>Seafood Description</th>
            <td>{{ product.description }}</td>
        </tr>
        <tr>
            <th>Seafood Price</th>
            <td>{{ product.price }}</td>
        </tr>
        <tr>
            <th>Seafood Summary</th>
            <td>{{ product.summary }}</td>
        </tr>
        <tr>
            <th>Seafood Photo</th>
            <td>{{ product.photo }}</td>
        </tr>
        <tr>
            <th>List of Ingredients</th>
            <td>{{ product.ingredients }}</td>
        </tr>

        <tr>
        <th>Reviews of this Seafood</th>
            <td> {% for review in product.review %}
                    {% if is_granted('ROLE_USER')%}
                        <a href="{{  path('review_show',{'id': review.id }) }}"> {{ review.summary }} </a>
                        <br>

                    {% endif %}
                        {% if not is_granted('ROLE_USER') and review.isPublic == true %}
                            <a href="{{  path('review_show',{'id': review.id }) }}"> {{ review.summary }} </a>
                            <br>
                        {% endif %}

                {% endfor %}
        </td>
        </tr>
    </table>

    <a href="{{ path('product_index') }}">back to Seafood list</a>
<br>
    <a href="{{ path('product_edit', {'id': product.id}) }}">edit</a>

    {% include 'product/_delete_form.html.twig' with {'identifier': product.id} only %}

{% endblock %}