<!DOCTYPE html>
<html>


    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <style>
            header {
                text-align: right;
                border-bottom: 0.5rem solid black;
                padding: 1rem;
            }
        </style>

        {% block stylesheets %}
            <style>
                header {
                    text-align: right;
                    border-bottom: 1rem #002a80;
                    padding: 0.5rem;
                    background-color:#99cb84 ;

                }
                body{
                    background-color:#99cb84;
                    color: #942a25;
                    border: #942a25;

                }
                table{
                    font-family: "Eras Bold ITC";
                    color: #942a25;
                    background-color: #5bc0de;
                    padding: 10px;
                    border: 5px #942a25;
                    width: 100%;
                    text-align: center;
                    border-bottom: 1rem #002a80;
                    border-top: 1rem #002a80;

                }



            </style>


        {% endblock %}
    </head>
    <body>

    <header>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            Username:
            <strong>{{ app.user.username }}</strong>
            <br>
            <a href="{{ url('logout') }}">logout</a>
        {% else %}
            <a href="{{ url('login') }}">login</a>
        {% endif %}
    </header>

    <nav>
        <ul>
            <li>
                <a href="{{ url('homepage') }}">home</a>
            </li>

            {% if is_granted('ROLE_ADMIN') %}
                <li>
                    <a href="{{ url('admin') }}">admin home</a>
                </li>
            {% endif %}
        <li>
            <a href="{{ path('product_index') }}">Seafood List</a>
        </li>
            <li>
                <a href="{{ path('review_index') }}">Reviews</a>
            </li>
        </ul>
    </nav>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
